.fullHeight {
    min-height: 75vh;
}
nav .navbar {
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.logo{
    width: 80%;
}
.logo p {
    height: 90px;
    font-size: 2rem;
    font-weight: bold;
    color: #f6cd2b;
    margin: 0px 50px;
    padding: 15px 0;

}
nav .navbar-nav {
    width: 50%;
    margin: 0 150px;
}
.navbar .nav-link {
    transition: all 0.2s ease;
}
.navbar .nav-link:hover {
    color: #f6cd2b !important;   
    font-size: 1.2rem;
}
nav .dropdown {
    margin-right: 50px;
}


.navbar-nav .nav-link.active-link {
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.9);
    color: #dc3545 !important;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    position: relative;
    transition: all 0.3s ease;
}

.navbar-nav .nav-link.active-link:hover {
    background-color: rgba(255, 255, 255, 1);
    color: #7ab02a !important;
}

.navbar-nav .nav-link {
    position: relative;
    text-decoration: none;
    transition: color 0.3s ease;
}
.navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    bottom: -5px;
    left: 0;
    background-color: #ffffff;
    transition: width 0.3s ease;
}
.navbar-nav .nav-link:hover::after {
    width: 100%;
}

.navbar-nav .nav-link.active-link::after {
    background-color: #dc3545;
    height: 3px;
    width: 100%;
}

h3, h2, h5 {
    font-weight: bold;
    color: green;
}
.col-md-3 {
    margin: 20px 0;
}
.memu-cards:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}