.fullHeight {
    min-height: 75vh
}
.card {
    margin: 100px 200px ;
    padding: 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #ffffff;
}

#loginForm{
    margin: 50px 100px ;
}
input{
    width: 100%;
    padding: 10px;
    margin: 8px 0;
}
button{
    width: 100%;
    padding: 10px;

}
.error{ color:red; }